@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sofia Sans";
    src: url("/fonts/Sofia_Sans/SofiaSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("/fonts/Karla/Karla-VariableFont_wght.ttf");
}

:root {
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.836);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@layer base {
    h1 {
        @apply font-bold font-title text-white;
    }

    h2 {
        @apply font-semibold font-title text-white;
    }
    h3 {
        @apply font-normal font-body text-white;
    }
    p {
        @apply font-body text-sm font-normal;
    }
    .infoContainer1 {
        @apply rounded-xl gap-y-4 bg-custom-ly1 px-7 py-6 flex flex-col items-center overflow-hidden;
        scrollbar-width: thin;
        scrollbar-color: rgb(79 103 94) rgb(57 73 66);
    }
    .infoContainer2 {
        @apply rounded-xl gap-y-4 bg-custom-ly2 px-7 py-6 flex flex-col items-center overflow-hidden;
        scrollbar-width: thin;
        scrollbar-color: rgb(57 73 66) rgb(79 103 94);
    }
    .tableRow > * {
        @apply text-start px-1 py-2;
    }

    .tableRow:nth-last-child(1) {
        @apply border-0;
    }

    .tableRow p {
        @apply font-normal;
    }

    .stroke-icon path {
        @apply stroke-custom-primary stroke-[20px];
    }

    .filterForm > div {
        @apply flex gap-x-4;
    }

    .filterForm label {
        @apply mb-1 text-sm;
    }

    .customDivider {
        @apply w-full border-t-2 my-2 border-white;
    }

    .formInput {
        @apply rounded-md border border-custom-ly2 border-opacity-80 bg-transparent outline-none py-1 px-2 font-body text-sm;
    }

    .formBtn {
        @apply py-2 px-6 transition-all ease-in-out focus:outline-none rounded-lg hover:translate-y-[-2px] active:translate-y-[2px];
    }

    .formBtnPrimary {
        @apply bg-custom-secondary hover:shadow-[0_5px_0_0_#518373] active:shadow-none active:bg-[#85ccb6];
    }

    .formBtnDestroy {
        @apply bg-red-500 hover:shadow-[0_5px_0_0_#bd3838] active:shadow-none active:bg-[#ff5656];
    }

    .formBtnSecondary {
        @apply bg-zinc-500 hover:shadow-[0_5px_0_0_#52525b] active:shadow-none active:bg-[#a1a1aa];
    }

    :root {
        @apply font-body;
    }
}

.formContainer {
    scrollbar-color: #394942 transparent;
}

.containerShadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideIn {
    animation: slideIn 0.8s ease-in-out forwards;
}

#goalsCarrousell {
    top: 0;
    transition: top 1s;
    transition-timing-function: ease-in-out;
}
