@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sofia Sans";
    src: url("/fonts/Sofia_Sans/SofiaSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("/fonts/Karla/Karla-VariableFont_wght.ttf");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.836);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@layer base {
    h1 {
        @apply font-bold font-title text-white;
    }
    h2 {
        @apply font-semibold font-title text-white;
    }
    h3 {
        @apply font-normal font-body text-white;
    }
    p {
        @apply font-body text-sm;
    }
    .infoContainer1 {
        @apply rounded-xl bg-custom-ly1 px-7 py-6 flex flex-col items-center justify-between overflow-hidden;
    }
    .infoContainer2 {
        @apply rounded-xl bg-custom-ly2 px-7 py-6 flex flex-col items-center justify-between overflow-hidden;
    }
    .stroke-icon path {
        @apply stroke-custom-primary stroke-[20px];
    }
}

.MuiChartsTooltip-root {
    opacity: 0.9;
}

.MuiChartsAxis-tickLabel {
    fill: #daceaf !important;
    font-family: "karla" !important;
}

.infoContainer1 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
